
//! Import base
@import "./base/reset.scss","./base/variables.scss";



body {
  font-family: $mainFontFamily;
  font-weight: Regular;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}

.container {
  max-width: 906px;
  margin: 0 auto;
  padding: 0 15px;
}

//! Import components
@import "./components/header.scss",  "./components/buttons.scss";

//! Import pages
@import "./pages/home.scss";


