h1 {
    color: red;
}
title {
    font-size: 28px;
    color: white;
}

  /* p { 
    color: blue;
    background-color: orange;
}
p {
    color: teal;
} */
p {
	color: green;
}
article > p {
	color: orange;
}
.post-title {
	color: green;
}
.post > .post-title {
	color: orange;
}
a.post-link {
	color: blue;
}
.post > .post-link {
	color: red;
}
.post > a.post-link {
	color: brown;
}
.post-title {
	color: green;
}
#title {
	color: orange;
}


/* 1 підхід */

.post {
    /* Стилі статті */
    }
    .post > h1 {
    /* Стилі заголовка */
    }
    .post > p {
    /* Стилі тексту */
    }
    .post > a {
    /* Стилі посилання */
    }
    .post > a:hover {
    /* Стилі посилання при ховері */
    }


    /* 2 підхід */
    
    .post {
        /* Стилі статті */
        }
        .post > .title {
        /* Стилі заголовка */
        }
        .post > .text {
        /* Стилі тексту */
        }
        .post > .link {
        /* Стилі посилання */
        }
        .post > .link:hover {
        /* Стилі посилання при ховері */
        }


        /* 3 підхід */

        .post {
            /* Стилі статті */
            }
            .post-title {
            /* Стилі заголовка */
            }
            .post-text {
            /* Стилі тексту */
            }
            .post-link {
            /* Стилі посилання */
            }
            .post-link:hover {
            /* Стилі посилання при ховері */
            }
            p {
                color: orange !important;
            }
            p#text-id.text {
                color: blue;
            }
            a {
                cursor: pointer;
            }
            .social-links .link {
                color: teal;
                }
                    .social-links .link:hover
                    .social-links .link:focus {
                    color: orange;
                    }
                    .social-links .link:active {
                        color: red;
                    }
                    .social-links .link:visited {
                        color: green;
                        }

                        /* .list-item {
                            margin-bottom: 12px;
                            }
                            .list-item:last-child {
                            margin-bottom: 0;
                            } */

                            /* .list-item {
                                margin-top: 12px;
                                }
                                .list-item:first-child {
                                margin-top: 0;
                                } */
 .list-item:not(:last-child) {
     margin-bottom: 12px; 
      }
      /* парні */
      .list-item:nth-child(2n) {
        background-color: orange;
    }
    .list-item:nth-child(even) {
        background-color: orange;
    }


    /* непарні */
    .list-item:nth-child(2n + 1) {
        background-color: green;
    }
    .list-item:nth-child(odd) {
        background-color: green;
    }

    /* від п-го елемента */
    .list-item:nth-child(n+6) {
        background-color: red;
    }

    /* До */
    .list-item:nth-child(-n+5) {
        background-color: yellow;
    }
    :nth-child(an+b) {
    }
    /* кожен п-ий елемент */
    .list-item:nth-child(3n+1) {
        background-color: blue;}
        
        /*! 3n + 2 — кожен третій елемент, починаючи з 2-го, тобто елементи 2, 5, 8 тощо.
2n + 4 — кожен другий елемент, починаючи з 4-го, тобто елементи 4, 6, 8 тощо.
4n + 5 — кожен четвертий елемент, починаючи з 5-го, тобто елементи 5, 9, 13 тощо. */

        .list-item:nth-last-child(3) {
            background-color: orange;
            }
         .list-item:nth-last-child(-n+3) {
                background-color: orange;
                }