.header {
  margin-top: 71px;
  margin-bottom: 92px;

  // .header__container

  &__container {
  }

  // .header__navigation

  &__navigation {
  }
}
.navigation {
  // .navigation-header

  &-header {
  }
}
.navigation-header {
  // .navigation-header__list

  &__list {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
  }

  // .navigation-header__item

  &__item {
  }

  // .navigation-header__link

  &__link {
    color: $mainGrey;
    font-family: Playfair Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 66px;

    &:hover {
      color: $mainBlue;
    }
  }
}
